<div class="breadcrumb-container breadcrumb-topbar">
  <p-breadcrumb [model]="displayItems()" [home]="home" styleClass="breadcrumb-digeex">
    <ng-template pTemplate="item" let-item let-index="index">
      <a
        *ngIf="item.routerLink; else noLink"
        [routerLink]="item.routerLink"
        class="p-menuitem-link breadcrumb-item-white"
      >
        <span *ngIf="item.icon" [class]="item.icon" class="breadcrumb-icon-white"></span>
        <span class="breadcrumb-label breadcrumb-text-white">{{ item.label }}</span>
      </a>
      <ng-template #noLink>
        <span *ngIf="item.icon" [class]="item.icon" class="breadcrumb-icon-white"></span>
        <span class="breadcrumb-label breadcrumb-text-white">{{ item.label }}</span>
      </ng-template>
    </ng-template>
  </p-breadcrumb>
</div>
