<div [formGroup]="form">
  <div class="form-field">
    <p-floatLabel>
      <p-select
        id="subdivisionCommunityUuid"
        formControlName="subdivisionCommunityUuid"
        [options]="subdivisionOptions()"
        optionLabel="label"
        optionValue="value"
        appendTo="body"
        class="w-full"
      />
      <label for="subdivisionCommunityUuid">Subdirección *</label>
    </p-floatLabel>
  </div>

  @if (showCollections()) {
    <div class="form-field">
      <p-floatLabel>
        <p-multiselect
          id="collectionUuids"
          formControlName="collectionUuids"
          [options]="collectionOptions()"
          optionLabel="label"
          optionValue="value"
          appendTo="body"
          class="w-full"
          display="chip"
          [maxSelectedLabels]="3"
          placeholder="Selecciona al menos una colección"
        />
        <label for="collectionUuids">Colecciones *</label>
      </p-floatLabel>
    </div>
  }
</div>
